.container {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.containerOfDiv {
    display: flex;
    flex-direction: row;
    
    flex: 1 1 auto;
}

.divOfGrid {
    border: 1px solid black;
    flex: 1 1 auto;
}

/* .divOfGrid:hover {
    background-color: black;
} */

.hovering {
    background-color: black;
}