.container {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.containerOfDiv {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    flex: 1 1 auto;
}

.divOfGrid {
    border: 1px solid black;
    flex: 1 1 auto;
}